.text{
    margin-top: 80px;
    color: white;
    text-align: center;

}

.svg{
    margin-top: 50px;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1080px) {
    .svg{
        width: 99%;
        height: 600px;
    }
}


@media (max-width:899px) {
    .svg{
        display: flex;
        justify-content: center;
        align-self: center;
       
        
        
    }

    .text{
        margin-top: 185px;
    }
}

@media (max-width:600px){
    .svg{
        width: 99%;
        
       
        margin-top: 50px;
      
    }

    .text{
        margin-top: 230px;
    }
}


@media (max-width:499px) {
    
    .svg{
        
        width: 99%;
    }

    .text{
        margin-top: 330px;
    }
}